@import url(https://fonts.google.com/?preview.text=&preview.text_type=custom);
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            font-family: 'popins', sans-serif;
            font-size: 16px;
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #19191919;
        }
        h1{
            font-size: 5rem;
            color: #444;
            position: relative;
            text-transform: uppercase;

        }
        h1::before{
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            color:  blue;
            width: 100%;
            overflow: hidden;
            animation: load 12s linear infinite;

        }
        @keyframes load{
            0%{
                width: 0;
            }
            100%{
                width: 100%;
            }
        }